@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

/* navbar */
.navbar {
  padding: 10px 100px;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
}
.nav-input {
  color: #f5f5f5;
  background-color: #f7f7f7;
  width: 450px;
  padding: 10px 30px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
}
.navbar-bottom {
  display: flex;
  align-items: center;
}
.navbar-bottom a {
  color: #222836;
  font-size: 18px;
  margin-right: 50px;
  text-decoration: none;
}
/* end of navbar */
